body {
    font-family: 'Nunito', sans-serif; 
    color: #13253A;
    font-size: 16px;
   }
   .container {
     max-width: 1170px;
     width: 100%;
     margin: 0 auto;
   }
   .full-block {
     float: left;
     width: 100%;
   }
